body {
    background-color: $body-bg;
}

h1 {
    color: $link-color;
}

h2 {
    color: $link-hover-color;
    ;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    text-decoration: $link-decoration;
    padding: $nav-link-padding-y $nav-link-padding-x;
}

.nav-link:hover {
    color: $link-hover-color;
    text-shadow: 1px 1px 0px #000000;
    text-decoration: $link-hover-decoration;
}

.search-box {
    background: none;
    border: none;
}