$body-bg: #2c2c2c !default;
//links
$link-color: #ffffff !default;
$link-decoration: none !default;
$link-hover-color: #dcc08e !default;
$link-hover-decoration: none !default;
//nav links 
$nav-link-padding-y: .5rem !default;
$nav-link-padding-x: .5rem !default;
//grid
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;