$body-bg: #2c2c2c !default;
//links
$link-color: #ffffff !default;
$link-decoration: none !default;
$link-hover-color: #dcc08e !default;
$link-hover-decoration: none !default;
//nav links 
$nav-link-padding-y: .5rem !default;
$nav-link-padding-x: .5rem !default;
//grid
$enable-grid-classes: true;
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px) !default;