{{> nav }}

<main>
    <div class="container-fluid post-container">
        <div class="row">
            {{> post }}
            <article class="col-xs-2 card post">
                <div class="post-category">
                    <ul>
                        <li>
                            <a href="#/Educatio">Entertainment</a>
                        </li>
                    </ul>
                </div>
                <span class="month">SEP</span>
                <span class="day">13</span>
                <img src="https://lorempixel.com/222/180/" alt="post image">
                <h2>
                    <a href="#/post-title">Post Title Goes Here</a>
                </h2>
                <p class="author">posted by nick roach</p>
                <div class="border"></div>
                <p class="post-text">Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas
                    posuere lorem.</p>
            </article>
            <div class="col-xs-2 card post">
                <div class="post-category">
                    <ul>
                        <li>
                            <a href="#/category">Fashion</a>
                        </li>
                    </ul>
                </div>
                <span class="month">AUG</span>
                <span class="day">28</span>
                <img src="https://lorempixel.com/480/180/" alt="post image">
                <h2>
                    <a href="#/post-title">Post Title Goes Here</a>
                </h2>
                <p class="author">posted by nick roach</p>
                <div class="border"></div>
                <p class="post-text">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
                    Donec sed odio dui. </p>
            </div>
            <div class="col-xs-2 card post">
                <div class="post-category">
                    <ul>
                        <li>
                            <a href="#/category">Entertainment</a>
                        </li>
                    </ul>
                </div>
                <span class="month">AUG</span>
                <span class="day">22</span>
                <img src="https://lorempixel.com/222/180/" alt="post image">
                <h2>
                    <a href="#/post-title">Post Title Goes Here</a>
                </h2>
                <p class="author">posted by nick roach</p>
                <div class="border"></div>
                <p class="post-text">Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas
                    posuere lorem.</p>
            </div>
            <div class="col-xs-2  card post">
                <div class="post-category">
                    <ul>
                        <li>
                            <a href="#/category">Category</a>
                        </li>
                    </ul>
                </div>
                <span class="month">OCT</span>
                <span class="day">13</span>
                <img src="https://lorempixel.com/222/180/" alt="post image">
                <h2>
                    <a href="#/post-title">Post Title Goes Here</a>
                </h2>
                <p class="author">posted by nick roach</p>
                <div class="border"></div>
                <p class="post-text">Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas
                    posuere lorem.</p>
            </div>
            <div class="col-xs-2 card post">
                <div class="post-category">
                    <ul>
                        <li>
                            <a href="#/category">Category</a>
                        </li>
                    </ul>
                </div>
                <span class="month">AUG</span>
                <span class="day">13</span>
                <img src="https://lorempixel.com/222/180/" alt="post image">
                <h2>
                    <a href="#/post-title">Post Title Goes Here</a>
                </h2>
                <p class="author">posted by nick roach</p>
                <div class="border"></div>
                <p class="post-text">Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas
                    posuere lorem.</p>
            </div>
            <div class="col-xs-2 card post">
                <div class="post-category">
                    <ul>
                        <li>
                            <a href="#/category">Category</a>
                        </li>
                    </ul>
                </div>
                <span class="month">SEP</span>
                <span class="day">13</span>
                <img src="https://lorempixel.com/222/180/" alt="post image">
                <h2>
                    <a href="#/post-title">Post Title Goes Here</a>
                </h2>
                <p class="author">posted by nick roach</p>
                <div class="border"></div>
                <p class="post-text">Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas
                    posuere lorem.</p>
            </div>
        </div>
    </div>
<div class="pagination">
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>5</span>
</div>
</main>

<footer>
    <div class="row">
        <div class="col">
            <h2>test1</h2>
            <div>inner 1.1</div>
            <div>inner 1.2</div>
            <div>inner 1.3</div>
            <div>inner 1.4</div>
        </div>
        <div class="col">
            <h2>test2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam necessitatibus at, accusantium voluptatum reiciendis
                iusto officia eaque! Corporis eligendi nemo voluptas harum blanditiis, molestiae voluptatibus rerum consequuntur
                fugiat inventore asperiores.</p>
        </div>
        <div class="col">
            <h2>test3</h2>
            <div>inner 3.1</div>
            <div>inner 3.2</div>
            <div>inner3.3</div>
        </div>
        <div class="col">
            <h2>test4</h2>
            <div>inner 4.1</div>
            <div>inner 4.2</div>
            <div>inner 4.3</div>

        </div>
    </div>
</footer>