{{> nav }}

<main>
    <div class="container-fluid post-container">
        <div class="row">
            {{> post }}
            <article class="col-xs-2 card post">
                <div class="post-category">
                    <ul>
                        <li>
                            <a href="#/Educatio">Entertainment</a>
                        </li>
                    </ul>
                </div>
                <span class="month">SEP</span>
                <span class="day">13</span>
                <img src="https://lorempixel.com/222/180/" alt="post image">
                <h2>
                    <a href="#/post-title">Post Title Goes Here</a>
                </h2>
                <span class="author">posted by nick roach</span>
                <p class="post-text">Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas
                    posuere lorem.</p>
            </article>
            <div class="col-xs-2 card post">
                <div class="post-category">
                    <ul>
                        <li>
                            <a href="#/category">Fashion</a>
                        </li>
                    </ul>
                </div>
                <span class="month">AUG</span>
                <span class="day">28</span>
                <img src="https://lorempixel.com/480/180/" alt="post image">
                <h2>
                    <a href="#/post-title">Post Title Goes Here</a>
                </h2>
                <span class="author">posted by nick roach</span>
                <p class="post-text">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
                    Donec sed odio dui. </p>
            </div>
            <div class="col-xs-2 card post">
                <div class="post-category">
                    <ul>
                        <li>
                            <a href="#/category">Entertainment</a>
                        </li>
                    </ul>
                </div>
                <span class="month">AUG</span>
                <span class="day">22</span>
                <img src="https://lorempixel.com/222/180/" alt="post image">
                <h2>
                    <a href="#/post-title">Post Title Goes Here</a>
                </h2>
                <span class="author">posted by nick roach</span>
                <p class="post-text">Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas
                    posuere lorem.</p>
            </div>
            <div class="col-xs-2  card post">
                <div class="post-category">
                    <ul>
                        <li>
                            <a href="#/category">Category</a>
                        </li>
                    </ul>
                </div>
                <span class="month">OCT</span>
                <span class="day">13</span>
                <img src="https://lorempixel.com/222/180/" alt="post image">
                <h2>
                    <a href="#/post-title">Post Title Goes Here</a>
                </h2>
                <span class="author">posted by nick roach</span>
                <p class="post-text">Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas
                    posuere lorem.</p>
            </div>
            <div class="col-xs-2 card post">
                <div class="post-category">
                    <ul>
                        <li>
                            <a href="#/category">Category</a>
                        </li>
                    </ul>
                </div>
                <span class="month">AUG</span>
                <span class="day">13</span>
                <img src="https://lorempixel.com/222/180/" alt="post image">
                <h2>
                    <a href="#/post-title">Post Title Goes Here</a>
                </h2>
                <span class="author">posted by nick roach</span>
                <p class="post-text">Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas
                    posuere lorem.</p>
            </div>
            <div class="col-xs-2 card post">
                <div class="post-category">
                    <ul>
                        <li>
                            <a href="#/category">Category</a>
                        </li>
                    </ul>
                </div>
                <span class="month">SEP</span>
                <span class="day">13</span>
                <img src="https://lorempixel.com/222/180/" alt="post image">
                <h2>
                    <a href="#/post-title">Post Title Goes Here</a>
                </h2>
                <span class="author">posted by nick roach</span>
                <p class="post-text">Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas
                    posuere lorem.</p>
            </div>
        </div>
    </div>
</main>

<nav class="pagination">
  <ul>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
</div>

{{> footer }}