<footer>
    <div class="row">
        <div class="col-md-3 card">
            <h3>Recent Posts</h3>
            <a href="#">recent post</a>
            <a href="#">recent post</a>
            <a href="#">recent post</a>
            <a href="#">recent post</a>
            <a href="#">recent post</a>
            <a href="#">recent post</a>
            <a href="#">recent post</a>
        </div>
        <div class="col-md-3 card">
            <h3>Custom Text Widget</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam necessitatibus at, accusantium voluptatum reiciendis
                iusto officia eaque! Corporis eligendi nemo voluptas harum blanditiis, molestiae voluptatibus rerum consequuntur
                fugiat inventore asperiores.</p>
        </div>
        <div class="col-md-3 card">
            <h3>Recent Comments</h3>
            <a href="#">Recent Comment 1</a>
            <a href="#">Recent Comment 2</a>
            <a href="#">Recent Comment 3</a>
            <a href="#">Recent Comment 4</a>
            <a href="#">Recent Comment 5</a>
            <a href="#">Recent Comment 6</a>
            <a href="#">Recent Comment 7</a>
        </div>
        <div class="col-md-3 card">
            <h3>Archives</h3>
            <a href="#">Archive item 1</a>
            <a href="#">Archive item 2</a>
            <a href="#">Archive item 3</a>
            <a href="#">Archive item 4</a>
            <a href="#">Archive item 5</a>
            <a href="#">Archive item 6</a>
            <a href="#">Archive item 7</a>
        </div>
    </div>
</footer>