<header>
    <div class="logo">
        <img class="img-fluid" src="/images/logo.png" alt="TheStyle">
    </div>
    <nav class="navbar navbar-expand-lg navbar-default">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerc"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#/">Home</a>
                </li>
                {{#each categories}}
                <li class="nav-item">
                <a class="nav-link" href="#/category/show/{{this}}">{{this}}</a>
                </li>
                {{/each}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item nav-link" href="#">Action</a>
                        <a class="dropdown-item nav-link" href="#">Another action</a>
                        <a class="dropdown-item nav-link" href="#">Something else here</a>
                    </div>
            </ul>
            <form class="search form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 search" type="text" placeholder="Search this website..." aria-label="Search">
            </form>
        </div>
    </nav>
</header>