<article class="col-xs-2 card post">
    <div class="post-category">
        <ul>
            <li>
                <a href="#/Educatio">Entertainment</a>
            </li>
        </ul>
    </div>
    <span class="month">SEP</span>
    <span class="day">13</span>
    <img src="https://lorempixel.com/222/180/" alt="post image">
    <h2>
        <a href="#/post-title">This is from partial</a>
    </h2>
    <p class="author">posted by nick roach</p>
    <div class="border"></div>
    <p class="post-text">Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas posuere
        lorem.</p>
</article>