<header>
    <div class="img-fluid d-none d-lg-block logo">
        <img src="./images/logo.png" alt="TheStyle">
    </div>
    <nav class="navbar navbar-expand-lg navbar-default">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerc"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#/">Home</a>
                </li>
                {{#each this}}
                <li class="nav-item"></li>
                <a class="nav-link" href="#/category/show/{{this}}">{{this}}</a>
                </li>
                {{/each}}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search this website..." aria-label="Search">
            </form>
        </div>
    </nav>
</header>

<main>
    <div class="container post-container">
        <!-- Example row of columns -->
        <div class="row">
            <article class="col post">
                <div class="post-category">
                    <ul>
                        <li>
                            <a href="#/Educatio">Some long category</a>
                        </li>
                    </ul>
                </div>
                <span class="month">AUG</span>
                <span class="day">10</span>
                <img src="http://lorempixel.com/222/180/" alt="post image">
                <h2>
                    <a href="#/post-title">Post Title Goes Here</a>
                </h2>
                <p class="author">posted by nick roach</p>
                <div class="border"></div>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
                    Donec sed odio dui. </p>
            </article>
            <div class="col post">
                <div class="post-category">
                    <ul>
                        <li>
                            <a href="#/category">Category</a>
                        </li>
                    </ul>
                </div>
                <span class="month">SEP</span>
                <img src="http://lorempixel.com/480/180/" alt="post image">
                <h2>
                    <a href="#/post-title">Post Title Goes Here</a>
                </h2>
                <p class="author">posted by nick roach</p>
                <div class="border"></div>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
                    Donec sed odio dui. </p>
            </div>
            <div class="col post">
                <div class="post-category">
                    <ul>
                        <li>
                            <a href="#/category">Category</a>
                        </li>
                    </ul>
                </div>
                <span class="month">SEP</span>
                <img src="http://lorempixel.com/222/180/" alt="post image">
                <h2>
                    <a href="#/post-title">Post Title Goes Here</a>
                </h2>
                <p class="author">posted by nick roach</p>
                <div class="border"></div>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                    felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                    massa justo sit amet risus.</p>
            </div>
            <div class="col post">
                <div class="post-category">
                    <ul>
                        <li>
                            <a href="#/category">Category</a>
                        </li>
                    </ul>
                </div>
                <span class="month">OCT</span>
                <img src="http://lorempixel.com/222/180/" alt="post image">
                <h2>
                    <a href="#/post-title">Post Title Goes Here</a>
                </h2>
                <p class="author">posted by nick roach</p>
                <div class="border"></div>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                    felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                    massa justo sit amet risus.</p>
            </div>
            <div class="col post">
                <div class="post-category">
                    <ul>
                        <li>
                            <a href="#/category">Category</a>
                        </li>
                    </ul>
                </div>
                <span class="month">AUG</span>
                <img src="http://lorempixel.com/222/180/" alt="post image">
                <h2>
                    <a href="#/post-title">Post Title Goes Here</a>
                </h2>
                <p class="author">posted by nick roach</p>
                <div class="border"></div>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                    felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                    massa justo sit amet risus.</p>
            </div>
            <div class="col post">
                <div class="post-category">
                    <ul>
                        <li>
                            <a href="#/category">Category</a>
                        </li>
                    </ul>
                </div>
                <span class="month">SEP</span>
                <img src="http://lorempixel.com/222/180/" alt="post image">
                <h2>
                    <a href="#/post-title">Post Title Goes Here</a>
                </h2>
                <p class="author">posted by nick roach</p>
                <div class="border"></div>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
                    felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                    massa justo sit amet risus.</p>
            </div>
        </div>
    </div>

</main>

<footer>
    <div class="row">
        <div class="col">
            <h2>test1</h2>
            <div>inner 1.1</div>
            <div>inner 1.2</div>
            <div>inner 1.3</div>
            <div>inner 1.4</div>
        </div>
        <div class="col">
            <h2>test2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam necessitatibus at, accusantium voluptatum reiciendis
                iusto officia eaque! Corporis eligendi nemo voluptas harum blanditiis, molestiae voluptatibus rerum consequuntur
                fugiat inventore asperiores.</p>
        </div>
        <div class="col">
            <h2>test3</h2>
            <div>inner 3.1</div>
            <div>inner 3.2</div>
            <div>inner3.3</div>
        </div>
        <div class="col">
            <h2>test4</h2>
            <div>inner 4.1</div>
            <div>inner 4.2</div>
            <div>inner 4.3</div>

        </div>
    </div>
</footer>