<header>
    <h1>test</h1>>
    <ul class="list-inline">
        {{#each this}}
        <li class="list-inline-item"><a href="/category/{{this}}">{{this}}</a></li>
        {{/each}}
    </ul>
</header>