<header>
    <h1>test</h1>
    <nav class="nav">
        <a class="nav-link" href="#/">home</a></li>
        <a class="nav-link" href="#/about">about</a></li>
        {{#each this}}
        <a class="nav-link" href="#/category/show/{{this}}">{{this}}</a></li>
        {{/each}}
        <form>
            <input class="search-box" type="text" placeholder="Search this website..." name="search">
        </form>
    </nav>

</header>


<footer>
    <div class="row">
        <div class="col">
            test
        </div>
        <div class="col">
            test
        </div>
    </div>
</footer>